<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!supps || supps.length <= 0" resetLinkText="Reset Search"></app-not-found>
<ul>
    <li *ngFor="let supp of supps">
      <a routerLink="/supp/{{supp.id}}">
        <img src="{{supp.imageUrl}}" alt="">
        <div class="content">
            <div class="name">
                {{supp.name}}
            </div>
            <span class="favorite {{supp.favorite?'':'not'}}">
            🌟
            </span>
            <div class="stars">
            <star-rating 
            [value]="supp.stars"
            [totalstars]="5" 
            heckedcolor="red"
            uncheckedcolor="black"
            size="20px"
            [readonly]="true">
            </star-rating>
           </div>
            <div class="product-item-footer">
              <div class="origins">
                  <span *ngFor="let origin of supp.origins">
                    {{origin}}
                  </span>
              </div>
              <div class="dailyuse">
                <span>🍽</span>
                {{supp.dailyuse}}
              </div>
            </div>
            <div class="price">
              <span>
                {{supp.price|currency}}
              </span>
            </div>
        </div>
      </a>
    </li>
</ul>